@import url(./style.css);

/* HERO MEDIA */
@media (max-width: 400px){
    .hero .div1 h1{
        font-size: 4rem;
    }
    .hero .div1 p{
        font-size: 1.4rem;
    }
    .hero .div1 .btn{
        font-size: 1.2rem;
    }
}


/* BENEFITS MEDIA */
@media (max-width: 900px){
    .benefits .benefits-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .benefits-card .cards-row{
        max-width: 100%;
    }
}


/* WEBSITE TEMPLATES MEDIA */
@media (max-width: 1000px) {
    .templates .templates-card{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .templates .templates-card{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* OTHER SERVICES MEDIA */


/* REVIEWS MEDIA */
@media (max-width: 400px) {
    .review-card .info{
        flex-direction: column;
    }
}


/* CONTACT MEDIA */
@media (max-width: 1100px) {
    .contact .contact__form{
        flex-direction: column;
        gap: 4rem;
    }
}

@media (max-width: 456px) {
    .contact{
        padding: 4rem 4%;
    }
    .contact__form input, .contact__form textarea{
        width: 30rem;
    }
}

@media (max-width: 480px) {
    .contact__form .div1{
        border: none;
        box-shadow: none;
    }
}


/* FOOTER MEDIA */
@media (max-width: 700px) {
    .footer{
        flex-direction: column-reverse;
    }
}
@media (max-width: 410px) {
    .footer .legals{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
    }
    .footer .legals a{
        font-size: 1.3rem;
    }
}